
.controlz {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    background-color: #00000000;
    }

    .button-wrapper {
    /* width: 100%; */
    text-align: center;

    width: calc(100% - 40px);
    max-height: 320px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    }

    .name {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: wheat;
    }

    .btn {
    width: 80%;
    padding: 12px;
    border-radius: 15px;
    font-size: 1rem;
    color: #fff;
    border-color: #00ffff71;
    /* background-color: #69ffffdb; */
    background-color: inherit;
    margin: 0 auto;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 10px; 
    }

    .btn:hover {
    background-color: #00ffff47;
    }

    .black-container {
    width: 100%;
    background-color: #000;
    border-radius: 15px; 
    justify-content: center;
    text-align: center;
    }

    .black-empty {
    width: 100%;
    background-color: #000;
    border-radius: 15px; 
    padding: 5;
    text-align: center;
    justify-content: center;
    }

    .slider-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;  
    }

    .slider-container > p{
    font-weight: 900;
    color: aliceblue;
    text-align: start;
    width: 80%;
    margin: 0 auto;
    }

    .slider {
    width: 80%;
    height: 25px;

    background-color: #7daec3;
    border-radius: 15px;
    outline: none;
    -moz-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

    .slider:hover {
    opacity: 0.8;
    }

    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #f1f1f1;
    border-radius: 15px;
    cursor: pointer;
    }

    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #f1f1f1;
    cursor: pointer;
    }